/*
Table of Content
1.0 - VARIABLES
2.0 - FONTS
3.0 - BUTTONS
4.0 - ANIMATIONER
5.0 -

*/
/*-----------1.0|VARIABLES-----------*/

:root {
    --main-color: #363A85;
    --secondary-color: #AAAAAA;
    --footer: #AAAAAA;
}


/*---------2.0|GENERAL, COMMON STYLING & ANIMATIONS--------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;

}

.hide {
    transform: translateX(100%);
    /*Placerer element 100% til højre så det er "skjult"*/
    opacity: 0;
}


ul {
    list-style: none;
}

header {
    grid-area: header;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*----------3.0|FONTS-----------*/

h1 {
    font-family: 'Hindi Siliguri', sans-serif;
    font-size: 2.5rem;
    color: var(--main-color);
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    color: var(--main-color);
}

footer h2 {
    color: #ffffff;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: var(--main-color);
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
    font-size: 1rem;
}

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

a:hover {
    color: var(--secondary-color);
}

#filter a {
    color: #000000;

}

#filter a:hover {
    color: var(--secondary-color);
}



/*-----------4.0|BUTTONS---------*/
button {
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.5rem;
    background-color: #ffffff;
    border-color: var(--main-color);
    color: #000000;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 15px 20px;
    width: 100%;
    max-width: 390px;
    font-size: 1.1rem;
    border-style: solid;
}

button:hover {
    background-color: var(--main-color);
    color: #ffffff;
}

/*--------5.0|ANIMATIONER---------*/

.bounce {
    animation: bounce 1.2s infinite ease-in;

}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(0);
    }
}

/*---------x.x|NAVIGATIONSMENU---------------*/
#logo {
    width: 230px;
    height: 34.85px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 30;
    cursor: pointer;
    top: 0;
}

header {
    z-index: 700;
    width: 100%;
    background-color: transparent;
    position: absolute;
}

/*---Burgermenu----*/

.menu-logo1 {
    width: 144px;
    height: 114px;
    align-self: center;
    display: inline-block;

}

.menu-logo2 {
    display: none;

}

#burgermenu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 40;
    padding: 7rem 1rem;
    background-color: var(--main-color);
    height: 100vh;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.65rem;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    line-height: 5rem;
    font-weight: bold;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
}

#main-menu li {
    list-style-type: none;
    text-align: center;
}

/*----burgermenu-buttons----*/


#menuknap {
    display: inline-block;
    z-index: 100;
    font-size: 2.3rem;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    cursor: pointer;
    color: #ffffff;
    background-color: transparent;
    border: none;
    width: initial;
}

/*Animation på burgermenuen er fra https://www.w3schools.com/howto/howto_css_menu_icon.asp*/
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.4s;
}

.bar2 {
    width: 25px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0 6px 10px;
    transition: 0.4s;


}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #ffffff;
}

.change .bar2 {
    opacity: 0;
    background-color: #ffffff;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #ffffff;
}

/*Animation på burgermenuen er fra https://www.w3schools.com/howto/howto_css_menu_icon.asp*/

#hovedmenu {
    width: 100vw;
    margin: 0;
    padding: 0;

}

#hovedmenu li {
    text-align: center;


}

.dropdown a {
    margin: 0;
    padding: 0;
    text-align: center;
}

.dropdown-content {
    display: none;
    /*    position: absolute;*/
    background-color: var(--main-color);
    z-index: 1;
    margin: 0;
    width: 100vw;
    padding: 0;

}

.dropdown-content a {
    color: #ffffff;
    text-align: center;
    width: 100%;

}

.dropdown:hover .dropdown-content {
    display: block;

}

/*------------x.x|INDEX.html-------------------*/

#index_horizontal nav {
    display: none;
}

#index-burger .bar1,
#index-burger .bar2,
#index-burger .bar3 {
    background-color: #ffffff;
    transition: 0.4s;
}

.hidden #menuknap .bar1,
.hidden #menuknap .bar2,
.hidden #menuknap .bar3 {
    background-color: var(--main-color);
}

#menuknap.change .bar1,
#menuknap.change .bar3 {
    background-color: #ffffff;
}

#menuknap.change .bar2 {
    opacity: 0;
}

#scroll-down-tekst {
    writing-mode: vertical-rl;
    position: absolute;
    right: 1.5rem;
    bottom: 20%;
    color: #ffffff;
    cursor: pointer;
}

#scroll-down {
    position: absolute;
    top: 80%;
    right: 1rem;
    background-color: transparent;
    border: none;
    width: initial;
}

#scroll-down img {
    width: 27.17px;
    height: 100px;
}

.some-wrapper-index {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    top: 350px;
    left: 10px;

}

#fb-index {
    width: 37px;
    height: 38px;
    margin-bottom: 2px;
}

#insta-index {
    width: 49px;
    height: 49px;
}

#index #splash {
    height: 100vh;
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;


}

#logo-index {
    width: 300px;
    height: 100%;
    position: absolute;
    top: calc(20% - 197.89px);
    z-index: 100;
}

#logo-tekst {
    color: #ffffff;
    position: absolute;
    top: 60%;
    width: 300px;
    margin-top: 1rem;
}

#slogan {
    color: #ffffff;
    position: absolute;
    bottom: 3%;
    font-size: 1.2rem;
    text-align: center;
}

h2,
.content a {
    font-size: 1rem;
    text-decoration: none;
}


#content1 {
    display: grid;
    grid-template-areas: 'image1 image2 image2'
        'image3 image3 image3';
    grid-gap: 5px;
    margin: 10px;
    justify-content: center;
    grid-template-columns: 30vw 30vw 30vw;
}

#content1-image1 {
    grid-area: image1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content1-image1 img {
    background-color: lightgreen;
    width: 35vw;
    height: 35vw;
    margin-left: 30px;
    margin-top: 30px;
    object-fit: cover;
}


#content1-image2 {
    grid-area: image2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#content1-image2 img {
    background-color: green;
    width: 45vw;
    height: 45vw;
    object-fit: cover;
}

#content1-image2 h2 {
    margin-top: 30px;
    text-align: right;
}

#content1-image3 {
    grid-area: image3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#content1-image3 img {
    background-color: darkgreen;
    width: 100%;
    height: 45vw;
    object-fit: cover;
}

#content1-image4 {
    display: none;

}

#content1-image4 img {
    object-fit: cover;

}

#content1-image5 {
    display: none;

}

#content1-image5 img {
    object-fit: cover;

}


#content2 {
    display: grid;
    grid-template-areas: 'content2-image1 content2-image1 content2-image2'
        'content2-image3 content2-image4 content2-image4';
    grid-gap: 5px;
    margin: 10px;
    justify-content: center;
    grid-template-columns: 30vw 30vw 30vw;

}

#content2-image1 {
    grid-area: content2-image1;
    display: flex;
    flex-direction: column;

}

#content2-image1 img {
    background-color: lightgreen;
    width: 40vw;
    height: 51vw;
    object-fit: cover;
}


#content2-image2 {
    grid-area: content2-image2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#content2-image2 img {
    background-color: green;
    width: 40vw;
    height: 40vw;
    margin-top: 50px;
    object-fit: cover;

}

#content2-image3 {
    grid-area: content2-image3;
    display: flex;
    flex-direction: column;

}

#content2-image3 img {
    background-color: darkgreen;
    width: 25vw;
    height: 25vw;
    margin-top: 20px;
    object-fit: cover;
}



#content2-image4 {
    grid-area: content2-image4;
    display: flex;
    justify-content: flex-end;

}

#content2-image4 img {
    background-color: #47ac47;
    width: 100%;
    height: 30vw;
    align-items: flex-end;
    object-fit: cover;
}

#content2-image5 {
    display: none;

}

#content2-image5 img {
    object-fit: cover;
}

/*---------x.x|SMYKKER X--------------*/


#collections h1 {
    grid-area: headline-smykker;
    justify-self: end;
}

#collections .content a {
    color: #000000;
}

#collections .collections {
    grid-auto-rows: 1fr;
}

.content-image {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
}

.content .wrapper {
    margin: 0 20px;
}

.collections p {
    max-width: 600px;
}

.collections img {
    max-width: 500px;
}

.content:nth-of-type(4n+1) img {
    background-color: aqua;
    width: 45vw;
    height: 65vw;
    object-fit: cover;

}


#collections .content:nth-child(4n+2) img {
    background-color: red;
    width: 65vw;
    height: 40vw;
    margin: 1rem;
    object-fit: cover;
}

#collections .content:nth-child(4n+2) .wrapper {
    text-align: right;
}

#collections .content:nth-child(4n+3) img {
    background-color: green;
    width: 60vw;
    height: 35vw;
    object-fit: cover;
}

#collections .content:nth-child(4n+4) img {
    background-color: #78d678;
    margin: 1rem;
    width: 50vw;
    height: 70vw;
    object-fit: cover;
}

#collections .content:nth-child(4n+4) .wrapper {
    text-align: right;
}


/*---------x.x|PRODUCTS-OVERVIEW X--------------*/
#smykker h1 {
    margin-top: 5rem;
    margin-right: 2rem;
    text-align: right;
}

#smykker {
    background-color: #f7f7f7;
}

#filter ul {
    text-align: center;
    margin-top: 3rem;
}

#filter ul li {
    line-height: 1.5rem;
}

#filter ul a {
    text-decoration: none;
    text-transform: none;
}

#smykker main {
    max-width: 1000px;
    grid-area: main;
}

#smykker footer {
    grid-area: footer;
}

.smykker-section {
    width: 100vw;
}

.smykker-section {
    display: grid;
    max-width: 1000px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    /*Hvert element skal være mindst 300px. Hver gang der er plads til et element ved siden af med 300px kommer det op ved siden af og udvider rækken*/
    align-items: center;
    grid-gap: 2rem;
    padding: 2rem;
    justify-content: center;
}

.one-product {
    justify-self: center;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.one-product img {
    object-fit: contain;
    max-height: 350px;
}

.one-product h2 {
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

/*---------x.x|SMYKKE - SINGLEVIEW X--------------*/
.single-view {
    display: grid;
    grid-template-areas:
        'product-image product-image'
        'product-headline product-headline'
        'product-text product-text'
        'product-price product-contact';
    align-items: center;
    margin: 1rem;
}

.single-view img {
    height: 60vw;
    background-color: green;
    grid-area: product-image;
    align-self: center;
    justify-self: center;
    object-fit: cover;
}

.product h1 {
    grid-area: product-headline;

}

.product .product-text {
    grid-area: product-text;
}

.product button {
    grid-area: product-contact;
}

.product h2 {
    grid-area: product-price;
}

/*---------x.x|PORTFOLIO X--------------*/

@media screen and (max-width: 699px) {

    /*--Med udgangspunkt i https://nolanlawson.com/2019/02/10/building-a-modern-carousel-with-css-scroll-snap-smooth-scrolling-and-pinch-zoom/--*/
    #portfolio {
        width: 100%;
        margin: 50px auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #portfolio .carousel-frame {
        background: #ffffff;
        padding: 10px;
        margin-top: 10px;
    }

    #portfolio .carousel {
        width: 80vw;
        height: calc(1.3 * 80vw);
    }

    #portfolio .scroll {
        display: flex;
        align-items: center;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        height: 100%;
    }

    #portfolio .scroll::-webkit-scrollbar {
        display: none;
    }

    #portfolio ul.scroll {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    #portfolio .scroll-item-outer {
        width: 90%;
        display: flex;
        height: 100%;
    }

    #portfolio .scroll-item {
        width: 80vw;
        height: 100%;
    }

    #portfolio .scroll img {
        object-fit: contain;
        width: 100%;
        height: 100%;
    }
}

#custom main {
    margin-top: 10rem;
}

#custom h1 {
    margin-left: 3rem;
}


/*----------x.x|OMSMELTNING---------*/
.custom_content {
    margin: 5rem 2.5rem;

}

.custom_article {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.custom_pic {
    max-width: 500px;
}

.custom_text {
    max-width: 500px;
    line-height: 1.5rem;
}

#custom #slide-show {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#custom .carousel-frame {
    padding: 10px;
}

#custom .carousel {
    width: 100vw;

}

#custom .scroll {
    display: flex;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    height: 300px;
}

#custom ul.scroll {
    margin: 0;
    padding: 0;
    list-style: none;
}

#custom .scroll-item-outer {
    width: 300px;
    height: 70%;
}

#custom .scroll-item {
    width: 300px;
    height: 300px;
}

#custom .scroll-item img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#custom .scroll::-webkit-scrollbar {
    display: none;
}

/*Karrusel med udgangspunkt i https://nolanlawson.com/2019/02/10/building-a-modern-carousel-with-css-scroll-snap-smooth-scrolling-and-pinch-zoom/*/


/*---------x.x|OM X--------------*/
#about-content {
    display: grid;
    grid-template-areas:
        'headline headline headline'
        'about-text-one about-text-one about-text-one'
        'image1 image2 image2'
        'image3 about-text-two about-text-two';
    grid-gap: 10px;
    justify-content: center;
    grid-template-columns: 30.6vw 22.6vw 26.6vw;
}


#about-content h1 {
    grid-area: headline;
}

#about-text-one {
    grid-area: about-text-one;
    width: 80%;
    max-width: 500px;
}

#about-content #image1 {
    grid-area: image1;
    background-color: #2c78d0;
    width: 20vw;
    height: 20vw;
    margin-top: 40px;
    object-fit: cover;
    object-position: bottom;
}

#about-content #image2 {
    grid-area: image2;
    background-color: #0093ff;
    height: 26.6vw;
    object-fit: cover;
}

#about-content #image3 {
    grid-area: image3;
    background-color: #44a9ff;
    height: calc(22.6vw + 26.6vw + 10px);
    /*Lægger de to sidste kolonner sammen + grid gap, så den boksen bliver ligeså høj som boks 2 er bred*/
    max-height: 400px;
    width: 100%;
    align-self: flex-end;
    object-fit: cover;
}

#about-text-two {
    grid-area: about-text-two;
    margin-top: 2rem;
    text-align: right;
    align-self: flex-start;
}

#se-lookbook {
    width: 200px;
}

/*-----------BAEREDYGTIGHED.HTML--------*/

#bdg main {
    margin: 2rem;
}

#bdg-content {
    display: grid;
    grid-template-areas:
        'bdg-headline'
        'bdg-text-one'
        'bdg-text-two'
        'bdg-image1'
        'bdg-image2'
        'bdg-buttons';

    grid-gap: 10px;
    justify-content: center;
}


#bdg-content h1 {
    grid-area: bdg-headline;
}

#bdg-text-one {
    grid-area: bdg-text-one;
    width: 100%;

}

#bdg-content #image1 {
    grid-area: bdg-image1;
    width: 40vw;
    height: 40vw;
    background-color: #2c78d0;
    justify-self: end;
}

#bdg-content #image2 {
    grid-area: bdg-image2;
    background-color: #0093ff;
    height: 40vw;
    width: 60vw;
    justify-self: end;

}

#bdg-text-two {
    grid-area: bdg-text-two;
    margin-top: 2rem;
}

#bdg-text-two h2 {
    text-align: right;
}

#bdg-content button {
    grid-area: bdg-buttons;
    width: 50%;
    justify-self: end;
}

/*---------KONTAKT------------*/
#shop,
#gallery {
    margin: 1rem 2rem
}

.contact_content a {
    color: #000000;
    line-height: 2;
}

.gallery_name {
    color: var(--main-color);
    font-weight: bold;
    margin-bottom: 0;
}


.gallery_h2 {
    font-size: 1.5rem;
    color: var(--main-color);
    font-family: 'Hind Siliguri', sans-serif;
}

/*---------FOOTER-------------------*/
footer {
    background-color: var(--footer);
    text-align: center;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: #ffffff;
    flex-wrap: wrap;
    margin-bottom: 0;
    width: 100%;
    grid-area: footer;
}

#footer-logo {
    margin-top: 2rem;
    width: 150px;
    height: 100%;

}

footer h2 {
    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 2rem;
}

footer p {
    margin-top: 0.5rem;

}

.aabningstider {
    white-space: pre-wrap;
}

.email {
    padding: 0;
    margin-top: 0;
}

.tlf {
    margin-bottom: 0;
}

#some-icons p {

    text-align: center;
}

#some-icons h2 {
    margin-bottom: 1rem;
}

.some-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

#some-icons #fb {
    width: 37px;
    height: 38px;
    margin-bottom: 2px;
    margin-right: 1rem;
}

#some-icons #insta {
    width: 49px;
    height: 49px;
}


/*----------MEDIA QUERIES----------*/

/*---MEDIAQUERIES MIN 650px---*/
@media screen and (min-width: 650px) {

    #collections main {
        margin-top: 10rem;
    }

    #collections h1 {
        text-align: right;
    }

    .content p {
        max-width: 500px;

    }

    .content a {
        color: #000000;
    }

    .content:nth-of-type(4n+1) .content-image {
        flex-direction: row;
        align-items: flex-start;
    }

    .content:nth-of-type(4n+1) img {
        height: 450px;
        width: 300px;

    }

    .content:nth-of-type(4n+2) .content-image {
        display: flex;
        margin-top: -5rem;
        margin-bottom: 100px;
        flex-direction: row-reverse;
        align-items: flex-end;
    }

    #collections .content:nth-child(4n+2) img {
        background-color: red;
        width: 450px;
        height: 250px;
        margin: 1rem;
    }

    #collections .content:nth-child(4n+2) .wrapper {
        text-align: right;
    }


    .content:nth-of-type(4n+3) .content-image {
        display: flex;
        flex-direction: row;
        margin: 1rem;
        align-items: flex-start;
    }

    #collections .content:nth-child(4n+3) img {
        background-color: green;
        width: 400px;
        height: 250px;
    }



    .content:nth-of-type(4n+4) .content-image {
        display: flex;
        margin-top: -4rem;
        flex-direction: row-reverse;
        align-items: flex-end;

    }

    #collections .content:nth-child(4n+4) img {
        background-color: #78d678;
        margin: 1rem;
        width: 300px;
        height: 400px;
    }

    #collections .content:nth-child(4n+4) .wrapper {
        text-align: right;
    }

}

@media screen and (min-width: 700px) {
    .scroll {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        align-items: center;
        grid-gap: 30px;

    }

    .scroll-item {
        width: 100%;
        height: 450px;
    }

    .scroll-item img {
        object-fit: cover;
        height: 100%;
        object-position: left;

    }

    #bdg main {
        margin-top: 5rem;
    }

    #bdg-content {

        display: grid;
        grid-template-areas:
            'bdg-headline bdg-image1 '
            'bdg-text-one bdg-image1'
            'bdg-text-two bdg-image2'
            'bdg-buttons bdg-image2';

        grid-gap: 10px;
        justify-content: center;
        grid-template-columns: 1fr 1fr;
    }


    #bdg-content h1 {
        grid-area: bdg-headline;
    }

    #bdg-text-one {
        grid-area: bdg-text-one;
        width: 100%;

    }

    #bdg-content #image1 {
        grid-area: bdg-image1;
        width: 30vw;
        height: 30vw;
        background-color: #2c78d0;
        justify-self: end;
        align-self: end;
    }

    #bdg-content #image2 {
        grid-area: bdg-image2;
        background-color: #0093ff;
        height: 30vw;
        width: 50vw;
        justify-self: end;

    }

    #bdg-text-two {
        grid-area: bdg-text-two;
    }

    #bdg-text-two h2 {
        text-align: right;
    }

    #bdg-content button {
        grid-area: bdg-buttons;
        width: 100%;
        justify-self: start;

    }
}

/*------MEDIA QUERIES MIN 1000px------*/
@media screen and (min-width:1000px) {
    #custom {
        width: 100vw;
    }

    .custom_article {
        display: grid;
        grid-template-areas: 'custom-image custom-headline custom-headline'
            'custom-image custom-sub-headline custom-sub-headline'
            'custom-image custom-text custom-text'
            'custom-image custom-button-1 custom-button-2';
        max-width: 1200px;
        margin: 12rem auto 0 auto;
        grid-template-columns: 2fr 1fr 1fr;
        grid-column-gap: 1rem;

    }

    .custom_pic {
        grid-area: custom-image;

    }

    .custom_h1 {
        text-align: right;
        font-size: 3rem;
        margin-top: 0;
        grid-area: custom-headline;

    }

    .custom_content h2 {
        grid-area: custom-sub-headline;
        margin-left: 100px;
    }

    .custom_pic {
        justify-self: end;
    }

    .custom_text {
        grid-area: custom-text;
        justify-self: end;
    }

    .custom_content button {
        font-size: 1rem;
        padding: 8px;
        margin: 0;
    }

    .custom_content .book_button {
        width: 150px;
        grid-area: custom-button-1;
        justify-self: end;
    }

    .custom_content .projects_button {
        width: 250px;
        grid-area: custom-button-2;
    }

    .contact_content {
        display: grid;
        grid-template-areas: "top top right"
            "bottom bottom right";
        margin-top: 10rem;
    }

    .contact_pic {
        max-width: 40vw;
    }


    #shop {
        grid-area: top;
        margin-left: 5rem
    }

    #gallery {
        grid-area: bottom;
        text-align: right;
    }


    .contact_pic {
        grid-area: right;
        margin-left: 5rem;
    }

    #contact h1 {
        font-size: 4rem;
        margin-top: 0;
        margin-bottom: 1rem;
    }

    .gallery_h2 {
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }

    /*----MEDIAQUERIES MIN 1100px----*/


    @media screen and (min-width:1100px) {

        /*------------MENU-----------------*/
        header:not(#index-burger) #menuknap {
            display: none;
        }

        header:not(#index-burger) #burgermenu.hide {
            transform: translateX(0);
            opacity: 1;
            /*placer menuen normalt*/
        }

        #index-burger#burgermenu {
            position: fixed;
            /*placer menuen normalt*/
        }

        header:not(#index-burger) #burgermenu li {
            display: inline-block;
            margin-top: 0;
            padding-top: 0;
            /*lad menuen være vandret*/
        }

        header:not(#index-burger) #hovedmenu {
            display: flex;
            width: 100%;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 1rem;
        }

        #logo-i-menu {
            align-self: flex-start;

        }

        header:not(#index-burger) .menu-logo1 {
            display: none;
        }

        header:not(#index-burger) .menu-logo2 {
            width: 144px;
            height: 114px;
            align-self: center;
            display: inline-block;
        }

        header:not(#index-burger) #hovedmenu :nth-child(1) {
            order: 2;
        }

        header:not(#index-burger) #hovedmenu :nth-child(2) {
            order: 0;
        }

        header:not(#index-burger) #hovedmenu:nth-child(3) {
            order: 1;
        }

        header:not(#index-burger) #hovedmenu:nth-child(4) {
            order: 2;
        }

        header:not(#index-burger) #hovedmenu :nth-child(5) {
            order: 4;
        }

        header:not(#index-burger) #hovedmenu :nth-child(6) {
            order: 5;
        }

        header:not(#index-burger) #hovedmenu :nth-child(7) {
            order: 6;
        }

        header:not(#index-burger) #burgermenu {
            background-color: #ffffff;
            width: 100vw;
            padding: 1rem;
            height: 150px;
            padding-top: 1rem;
            display: flex;
            justify-content: center;

        }

        header:not(#index-burger) #burgermenu a {
            color: var(--main-color);
        }

        header:not(#index-burger) header {
            z-index: 100;

        }

        header:not(#index-burger) #hovedmenu {
            width: 100%;

        }

        header:not(#index-burger) #hovedmenu a {
            margin: 0 1rem;
            margin-top: 0;
            font-size: 1rem;
            text-align: center;
            letter-spacing: 0.12rem;
            text-transform: uppercase;
            position: relative;
            line-height: 0;
        }

        header:not(#index-burger) .dropdown-content {
            width: 10%;
            background-color: transparent;
            z-index: 1;
            padding: 1rem;
            margin-left: 1rem;
            position: absolute;
        }

        header:not(#index-burger) .dropdown-content a {
            color: var(--main-color);
            text-align: right;
        }

        #index-burger .bar1,
        #index-burger .bar2,
        #index-burger .bar3 {
            background-color: #ffffff;

        }

        .valgt-nav {
            border-bottom-style: solid;
            border-bottom-color: var(--main-color);
            border-bottom-width: 2px;
        }

        #hovedmenu a::after {
            background-color: var(--main-color);
            content: "";
            width: 0;
            height: 1.5px;
            left: 0;
            bottom: 0;
            transition: width 0.35s ease 0s;
            position: absolute;
        }

        #hovedmenu a:hover::after {
            width: 100%;
        }

        #logo-i-menu a:hover::after {
            width: initial;
        }

        #index_horizontal {
            z-index: 1000;
            display: inline-block;
            position: sticky;
            position: -webkit-sticky;
            transition: transform .3s;
            transform-origin: top right;
            top: 0;
            margin-bottom: 1rem;
        }

        #index_horizontal nav {
            display: inline-block;
        }

        #index_horizontal #burgermenu {
            position: relative;
            height: 100%;
            margin-top: -20px;
        }

        .hidden {
            display: none;
        }

        /*-----------INDEX.HTML--------------*/
        #index {
            display: grid;
            grid-template-areas: 'header-burger'
                'splash'
                'header-horizontal'
                'main'
                'footer'
        }

        #index-burger {
            grid-area: header-burger;
        }

        #splash {
            grid-area: splash;
        }

        #index_horizontal {
            grid-area: header-horizontal;
        }

        #index main {
            grid-area: main;
        }

        footer {
            grid-area: footer;
        }

        #content1 {
            display: grid;
            grid-template-areas:
                'index-image4 index-image2 index-image1 index-image1'
                'index-image4 index-image2 index-image5 index-image5'
                'index-image3 index-image3  index-image5 index-image5';
            grid-gap: 20px;
            margin: 10px auto;
            justify-content: center;
            grid-template-columns: auto auto auto auto;
        }

        #content1-image4 {
            grid-area: index-image4;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        #content1-image4 img {
            background-color: #6a936a;
            width: 200px;
            height: 300px;
        }

        #content1-image2 {
            grid-area: index-image2;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        #content1-image2 img {
            background-color: green;
            width: 200px;
            height: 200px;
            margin-bottom: -25px;
        }

        #content1-image1 {
            grid-area: index-image1;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        #content1-image1 img {
            background-color: lightgreen;
            width: 150px;
            height: 150px;
            margin-left: 30px;
            margin-top: 30px;
        }

        #content1-image3 {
            grid-area: index-image3;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-end;
        }

        #content1-image3 img {
            background-color: #38ac38;
            width: 450px;
            height: 250px;

        }

        #content1-image5 {
            grid-area: index-image5;
            display: flex;
        }

        #content1-image5 img {
            background-color: darkgreen;
            width: 400px;
            height: 350px;

            margin-top: 0;

        }

        #content2 {
            display: grid;
            grid-template-areas: 'index-content2-image3 index-content2-image3 index-content2-image2 index-content2-image2  index-content2-image5'
                'index-content2-image1 index-content2-image1 index-content2-image4 index-content2-image4 index-content2-image5';
            grid-gap: 20px;
            margin: 10px auto;
            justify-content: center;
            grid-template-columns: auto auto auto auto auto;

        }

        #content2-image3 {
            grid-area: index-content2-image3;
            display: flex;
            flex-direction: column;

        }

        #content2-image3 img {
            background-color: darkgreen;
            width: 150px;
            height: 150px;
            align-self: flex-end;

        }

        #content2-image2 {
            grid-area: index-content2-image2;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        #content2-image2 img {
            background-color: green;
            width: 200px;
            height: 200px;
        }

        #content2-image5 {
            grid-area: index-content2-image5;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;


        }

        #content2-image5 img {
            background-color: #44c644;
            width: 350px;
            height: 480px;

        }

        #content2-image1 {
            grid-area: index-content2-image1;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;

        }

        #content2-image1 img {
            background-color: lightgreen;
            width: 200px;
            height: 300px;
            margin-top: -100px;
            margin-bottom: 0;
        }

        #index #content2-image4 {
            grid-area: index-content2-image4;
            display: flex;
            justify-content: flex-end;


        }

        #index #content2-image4 img {
            background-color: #47ac47;
            width: 300px;
            height: 200px;
        }

        /*------SMYKKER.html-----*/

        #smykker {
            background-color: #ffffff;
        }

        #smykker h1 {
            margin-top: 15rem;
            margin-right: 1rem;
            text-align: right;
        }

        #smykker ul {}


        .smykker-section {
            display: grid;
            max-width: 1000px;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            /*Hvert element skal være mindst 250px. Hver gang der er plads til et element ved siden af med 250px kommer det op ved siden af og udvider rækken*/
            align-items: center;
            grid-gap: 0;
            padding: 0;
            justify-content: center;
        }

        #smykker main {
            min-height: calc(100vh - 300px);
        }

        .one-product {
            background-color: #ffffff;
            flex-direction: row;
            width: 300px;
            height: 300px;
        }

        .one-product img {
            object-fit: cover;
        }

        .one-product h2 {
            display: none;
        }

        .one-product img:hover {
            transform: scale(1.1);
            transition: ease-out 0.3s;
            /*   border: var(--main-color) solid;*/
            cursor: pointer;
        }

        /*--------SMYKKE.HTML---------*/
        .single-view {
            grid-template-areas:
                'product-image product-headline product-headline'
                'product-image product-text product-text'
                'product-image  product-price product-contact';
            max-width: 1200px;
            margin: 10rem auto;
            align-items: baseline;
            padding: 3rem;
            grid-gap: 0;
            grid-template-rows: 1fr 1fr auto;
            grid-template-columns: 60% 1fr 1fr;
        }

        .single-view img {
            height: initial;
            width: 100%;
            height: 80%;
        }


        .single-view h1 {
            align-self: flex-end;
            padding: 0;
        }

        .single-view p {
            margin: 0;
        }

        .product h2 .product button {
            align-self: flex-start;
            margin-top: 2rem;
        }

        /*------ABOUT.html-----*/
    }

    @media screen and (min-width:1100px) {

        /*------ABOUT.html-----*/
        #about main {
            max-width: 1200px;
            margin-top: 10rem;
        }

        #about-content {
            display: grid;
            grid-template-areas:
                'about-headline about-headline about-image1 about-image1'
                ' about-text-one about-text-one about-image1 about-image1'
                'about-text-two about-text-two about-image2 about-image3'
                'button1 button2 button2 button2';
            grid-column-gap: 0;
            justify-content: center;

            grid-template-columns: auto auto auto auto;

        }

        #se-smykker {
            width: 300px;
            margin-left: 5rem;
            grid-area: button1;
            justify-self: start;
            align-self: start;
        }

        #se-lookbook {
            width: 300px;
            grid-area: button2;
        }

        #about-content h1 {
            grid-area: about-headline;
        }

        #about-text-one {
            grid-area: about-text-one;
            width: 80%;
            max-width: 500px;
        }

        #about-content #image1 {
            grid-area: about-image1;
            background-color: #2c78d0;
            width: 300px;
            height: 200px;
            margin-top: 40px;
            justify-self: center;
        }

        #about-content #image2 {
            grid-area: about-image2;
            background-color: #0093ff;
            height: 200px;
            width: 150px;
            justify-self: flex-end;
            margin-left: 50px;

        }

        #about-content #image3 {
            grid-area: about-image3;
            background-color: #44a9ff;
            height: 300px;
            width: 300px;
            align-self: flex-end;
            margin-left: 50px;

        }

        #about-text-two {

            grid-area: about-text-two;
            margin-top: 2rem;
            text-align: left;
            justify-self: flex-start;
            max-width: 500px;
        }

        /*-----------baeredygtighed.html----------*/

        #bdg main {
            margin: 10rem auto 0 auto;
        }

        #bdg-content #image1 {
            grid-area: bdg-image1;
            width: 250px;
            height: 250px;
        }

        #bdg-content #image2 {
            grid-area: bdg-image2;
            background-color: #0093ff;
            height: 250px;
            width: 400px;
            justify-self: end;

        }

        #bdg-text-two {
            grid-area: bdg-text-two;
        }

        #bdg-text-two h2 {
            text-align: right;
        }

        #bdg-content button {
            grid-area: bdg-buttons;
            width: 50%;
            justify-self: start;

        }

        /*-----------footer.html----------*/

        footer {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            align-items: flex-start;
            height: 250px;
        }



        .group {
            grid-column-start: 1;
            grid-row-start: 1;
            margin: 0;
            text-align: left;
            margin-left: 2rem;
        }

        #adresse-footer {
            grid-column-start: 3;
            grid-row-start: 1;
            text-align: right;
            margin-right: 2rem;
        }



        #aabningstider-footer {
            grid-column-start: 3;
            margin: 0;
            text-align: right;
            margin-right: 2rem;
        }

        #footer-logo {
            grid-column-start: 2;
            justify-self: center;
            width: 100px;
        }

        #slogan-footer {
            grid-column-start: 2;
            grid-row-start: 2;
            margin-top: 2rem;
        }

        #some-icons {
            grid-column-start: 1;
            grid-row-start: 4;
            grid-row-start: 2;
            text-align: left;
            margin-left: 2rem;

        }

        .some-wrapper {
            justify-content: flex-start;
        }
    }

    @media screen and (min-width: 1300px) {

        /*-----SMYKKER.html--------*/
        #type {
            position: absolute;
            top: 25vh;
            margin: 0;
            left: 1vw;
        }

        #filter ul {
            border-left-color: var(--main-color);
            border-left-style: solid;
            text-align: left;
        }

        #kollektion {
            position: absolute;
            top: 37vh;

            margin: 0;
            left: 1vw;
        }

        #filter ul li {
            line-height: 1.5rem;
        }
    }
