/*
Table of Content
1.0 - VARIABLES
2.0 - FONTS
3.0 - BUTTONS
4.0 - ANIMATIONER
5.0 -

*/
/*-----------1.0|VARIABLES-----------*/

:root {
    --main-color: #363A84;
    --secondary-color: #0E7DC7;
    --tertiary-color: #052D47;
    --background: #ffffff;
    --link-color: #052D47;
    --button-color: #0E7DC7;
    --footer: #052D47;
    --header-color:
}

/*---------2.0|GENERAL & COMMON STYLING--------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

.hide {
    transform: translateX(100%);
    /*Placerer element 100% til højre så det er "skjult"*/
    opacity: 0;
}

/*----------3.0|FONTS-----------*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    /*   margin-top: 0;
    padding-top: 1rem;*/
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-blue);
}

/*-----------4.0|BUTTONS---------*/
button {
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.5rem;
    background-color: var(--button-color);
    border: none;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #052D47;
}

/*--------5.0|ANIMATIONER---------*/

/*---------x.x|NAVIGATIONSMENU---------------*/
#logo {
    width: 230px;
    height: 34.85px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 30;
    cursor: pointer;
    top: 0;
}

header {
    z-index: 700;
    height: 90px;
    width: 100%;
}

/*---Burgermenu----*/
#burgermenu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 40;
    padding: 7rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--main-color);
    height: 100vh;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.65rem;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    line-height: 5rem;
    font-weight: bold;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
}

nav li {
    list-style-type: none;
    text-align: center;
}

/*----burgermenu-buttons----*/


#menuknap {
    display: inline-block;
    z-index: 100;
    font-size: 2.3rem;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    cursor: pointer;
    color: #ffffff;
    background-color: transparent;
}

/*Animation på burgermenuen er fra https://www.w3schools.com/howto/howto_css_menu_icon.asp*/
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.4s;
}

.bar2 {
    width: 25px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0 6px 10px;
    transition: 0.4s;


}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #ffffff;
}

.change .bar2 {
    opacity: 0;
    background-color: #ffffff;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #ffffff;
}

/*Animation på burgermenuen er fra https://www.w3schools.com/howto/howto_css_menu_icon.asp*/
/*------------x.x|INDEX.html-------------------*/

/*---------x.x|SIDE X--------------*/
/*---------x.x|SIDE X--------------*/
/*---------x.x|SIDE X--------------*/
/*---------x.x|SIDE X--------------*/
