/*
Table of Content
1.0 - VARIABLES
2.0 - FONTS
3.0 - BUTTONS
4.0 - ANIMATIONER
5.0 -

*/
/*-----------1.0|VARIABLES-----------*/

:root {
    --main-color: #363A84;
    --secondary-color: #0E7DC7;
    --tertiary-color: #052D47;
    --background: #ffffff;
    --link-color: #052D47;
    --button-color: #0E7DC7;
    --footer: #052D47;
    --header-color:
}


/*---------2.0|GENERAL & COMMON STYLING--------*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

img {
    width: 100%;
}

.hide {
    transform: translateX(100%);
    /*Placerer element 100% til højre så det er "skjult"*/
    opacity: 0;
}


ul {
    list-style: none;
}


body:not(#index) {
    display: grid;
    grid-template-areas: 'header'
        'main'
        'footer';
    grid-row-gap: 50px;
}

header {
    grid-area: header;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    grid-area: main;
}

footer {
    grid-area: footer;
}

/*----------3.0|FONTS-----------*/

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2rem;
    /*   margin-top: 0;
    padding-top: 1rem;*/
}

h2 {
    font-family: 'Montserrat', sans-serif;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

a {
    font-family: 'Montserrat', sans-serif;
    color: var(--dark-blue);
}

/*-----------4.0|BUTTONS---------*/
button {
    margin: 0.5rem 0.5rem 0.5rem 0;
    padding: 0.5rem;
    background-color: var(--button-color);
    border: none;
    color: #ffffff;
    cursor: pointer;
}

button:hover {
    background-color: #052D47;
}

/*--------5.0|ANIMATIONER---------*/

/*---------x.x|NAVIGATIONSMENU---------------*/
#logo {
    width: 230px;
    height: 34.85px;
    margin-top: 20px;
    margin-left: 20px;
    z-index: 30;
    cursor: pointer;
    top: 0;
}

header {
    z-index: 700;
    width: 100%;
    background-color: transparent;
    position: absolute;
}

/*---Burgermenu----*/

.menu-logo {
    width: 144px;
    height: 114px;
    background-color: aquamarine;
    align-self: center;
}

#burgermenu {
    list-style-type: none;
    transition: transform .3s;
    transform-origin: top left;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    z-index: 40;
    padding: 7rem 1rem;
    background-color: var(--main-color);
    height: 100vh;
}

header nav a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.65rem;
    margin: 0.3rem 0;
    padding: 0.3rem 0;
    line-height: 5rem;
    font-weight: bold;
    letter-spacing: 0.12rem;
    text-transform: uppercase;
}

nav li {
    list-style-type: none;
    text-align: center;
}

/*----burgermenu-buttons----*/


#menuknap {
    display: inline-block;
    z-index: 100;
    font-size: 2.3rem;
    position: absolute;
    right: 0;
    top: 0;
    position: fixed;
    cursor: pointer;
    color: #ffffff;
    background-color: transparent;
}

/*Animation på burgermenuen er fra https://www.w3schools.com/howto/howto_css_menu_icon.asp*/
.container {
    display: inline-block;
    cursor: pointer;
}

.bar1,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0;
    transition: 0.4s;
}

.bar2 {
    width: 25px;
    height: 5px;
    background-color: var(--main-color);
    margin: 6px 0 6px 10px;
    transition: 0.4s;


}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: #ffffff;
}

.change .bar2 {
    opacity: 0;
    background-color: #ffffff;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: #ffffff;
}

/*Animation på burgermenuen er fra https://www.w3schools.com/howto/howto_css_menu_icon.asp*/
/*------------x.x|INDEX.html-------------------*/

#index_horizontal {
    display: none;
}

#index-burger .bar1,
#index-burger .bar2,
#index-burger .bar3 {
    background-color: #ffffff;
    transition: all 3s;
}

.hidden #menuknap .bar1,
.hidden #menuknap .bar2,
.hidden #menuknap .bar3 {
    background-color: var(--main-color);
}

#scroll-down-tekst {
    writing-mode: vertical-rl;
    position: absolute;
    right: 0;
    bottom: 35%;
    color: #ffffff;
}

#scroll-down {
    position: absolute;
    right: 1%;
    bottom: 16%;
    height: 100px;
    background-color: white;
}

#index #splash {
    height: 100vh;
    /*margin-top: -90px;*/
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#splash-image {
    height: 100vh;
    width: 100%;
    object-fit: cover;
    position: relative;


}

#logo-index {
    width: 250px;
    height: 197.89;
    position: absolute;
    top: calc(50% - 197.89px);
}

#splash h1 {
    color: #ffffff;
    position: absolute;

}


h2,
.content a {
    font-size: 1rem;
    text-decoration: none;
}

/*.content {
    width: 100%;
}*/

#content1 {
    display: grid;
    grid-template-areas: 'image1 image2 image2'
        'image3 image3 image3';
    grid-gap: 5px;
    margin: 10px;
    justify-content: center;
    grid-template-columns: 30vw 30vw 30vw;



}

#content1-image1 {
    grid-area: image1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content1-image1 img {
    background-color: lightgreen;
    width: 35vw;
    height: 35vw;
    margin-left: 30px;
    margin-top: 30px;
    object-fit: cover;
}


#content1-image2 {
    grid-area: image2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#content1-image2 img {
    background-color: green;
    width: 45vw;
    height: 45vw;
    object-fit: cover;
}

#content1-image3 {
    grid-area: image3;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#content1-image3 img {
    background-color: darkgreen;
    width: 100%;
    height: 45vw;
    object-fit: cover;
}

#content1-image4 {
    display: none;

}

#content1-image5 {
    display: none;

}

#content1-image4 img {
    object-fit: cover;

}

#content1-image5 {
    object-fit: cover;

}

}

#content1-image5 img {
    display: none;

}

#content2 {
    display: grid;
    grid-template-areas: 'content2-image1 content2-image1 content2-image2'
        'content2-image3 content2-image4 content2-image4';
    grid-gap: 5px;
    margin: 10px;
    justify-content: center;
    grid-template-columns: 30vw 30vw 30vw;

}

#content2-image1 {
    grid-area: content2-image1;
    display: flex;
    flex-direction: column;

}

#content2-image1 img {
    background-color: lightgreen;
    width: 40vw;
    height: 51vw;
}


#content2-image2 {
    grid-area: content2-image2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#content2-image2 img {
    background-color: green;
    width: 40vw;
    height: 40vw;
    margin-top: 50px;

}

#content2-image3 {
    grid-area: content2-image3;
    display: flex;
    flex-direction: column;

}

#content2-image3 img {
    background-color: darkgreen;
    width: 25vw;
    height: 25vw;
    margin-top: 20px;
}



#content2-image4 {
    grid-area: content2-image4;
    display: flex;
    justify-content: flex-end;

}

#content2-image4 img {
    background-color: #47ac47;
    width: 100%;
    height: 30vw;
    align-items: flex-end;
}

#content2-image5 {
    display: none;

}


/*---------x.x|SMYKKER X--------------*/
#products main {
    display: grid;
    grid-template-areas: 'filter-smykker'
        'headline-smykker'
        'smykker-collections';
}

#products ul {
    grid-area: filter-smykker;
    list-style: none;
    justify-self: center;
}

#products h1 {
    grid-area: headline-smykker;
    justify-self: end;
}

#products .collections {
    grid-auto-rows: 1fr;
}

.content-image {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
}

/*.content:nth-of-type(4n+1) .content-image {
    display: flex;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
}*/

.content .wrapper {
    margin: 0 20px;
}

.collections p {
    max-width: 600px;
}

.collections img {
    max-width: 500px;
}

.content:nth-of-type(4n+1) img {
    background-color: aqua;
    width: 45vw;
    height: 65vw;

}

.content:nth-of-type(4n+2) .content-image {
    /* display: flex;
    margin: 1rem;
    flex-direction: row-reverse;*/
}

#products .content:nth-child(4n+2) img {
    background-color: red;
    width: 65vw;
    height: 40vw;
    margin: 1rem;
}

#products .content:nth-child(4n+2) .wrapper {
    text-align: right;
}


.content:nth-of-type(4n+3) .content-image {
    /*  display: flex;
    margin: 1rem;*/
}

#products .content:nth-child(4n+3) img {
    background-color: green;
    width: 60vw;
    height: 35vw;
}

/*#products .content:nth-child(4n+3) .wrapper {
    width: 50%;
    margin: 0 1rem;
    align-self: flex-end;
}*/

.content:nth-of-type(4n+4) .content-image {
    /*   display: flex;
    margin: 1rem;*/
}

#products .content:nth-child(4n+4) img {
    background-color: #78d678;
    margin: 1rem;
    width: 50vw;
    height: 70vw;
}

#products .content:nth-child(4n+4) .wrapper {
    text-align: right;
}



/*---------x.x|PRODUCTS-OVERVIEW X--------------*/

#products h1 {}

.products-overview-section {
    width: 100vw;
}

.products-overview-section {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    /*Hvert element skal være mindst 300px. Hver gang der er plads til et element ved siden af med 300px kommer det op ved siden af og udvider rækken*/
    margin: 1rem auto;
    padding: 2rem;
    justify-content: center;
}

#product-image img {
    background-color: #4e806f;
}

/*---------x.x|PRODUCT - SINGLEVIEW X--------------*/
.single-view {
    display: grid;
    grid-template-areas:
        'product-image product-image'
        'product-headline product-headline'
        'product-text product-text'
        'product-price product-contact';
    align-items: center;
    grid-template-columns: 1fr 1fr;
    margin: 1rem;
}

.single-view img {
    width: 70%;
    height: 40vh;
    background-color: green;
    grid-area: product-image;
    align-self: center;
    justify-self: center;
}

.product h1 {
    grid-area: product-headline;
}

.product .product-text {
    grid-area: product-text;
}

.product button {
    grid-area: product-contact;
}

.product h2 {
    grid-area: product-price;
}

/*---------x.x|OM X--------------*/
#about-content {
    display: grid;
    grid-template-areas:
        'headline headline headline'
        'about-text-one about-text-one about-text-one'
        'image1 image2 image2'
        'image3 about-text-two about-text-two';
    grid-gap: 10px;
    justify-content: center;
    grid-template-columns: 30.6vw 22.6vw 26.6vw;

}


#about-content h1 {
    grid-area: headline;
}

#about-text-one {
    grid-area: about-text-one;
    width: 80%;
    max-width: 500px;
}

#about-content #image1 {
    grid-area: image1;
    background-color: #2c78d0;
    width: 20vw;
    height: 20vw;
    margin-top: 40px;
}

#about-content #image2 {
    grid-area: image2;
    background-color: #0093ff;
    height: 26.6vw;

}

#about-content #image3 {
    grid-area: image3;
    background-color: #44a9ff;
    height: calc(22.6vw + 26.6vw + 10px);
    /*Lægger de to sidste kolonner sammen + grid gap, så den boksen bliver ligeså høj som boks 2 er bred*/
    max-height: 400px;
    width: 100%;
    align-self: flex-end;

}

#about-text-two {
    grid-area: about-text-two;
    margin-top: 2rem;
    text-align: right;
    align-self: flex-start;
}

/*---------FOOTER-------------------*/
footer {
    background-color: var(--main-color);
    text-align: center;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    color: #ffffff;
    flex-wrap: wrap;
    margin-bottom: 0;
    width: 100%;
    grid-area: footer;
}

footer p {
    white-space: pre-wrap;
}

.email {
    padding: 0;
    margin-top: 0;
}

.tlf {
    margin-bottom: 0;
}

#some-icons p {

    text-align: center;
}

#some-icons {
    margin: 0;
}

#some-icons img {
    width: 40px;
    height: 40px;
    margin: 0 0.5rem 0.5rem 0.5rem;
}

#fb:hover {
    /*Bruger https://codepen.io/sosuke/pen/Pjoqqp til at lave hex code om til filter*/
    filter: invert(53%) sepia(30%) saturate(3011%) hue-rotate(200deg) brightness(89%) contrast(82%);
}

#tw:hover {
    filter: invert(46%) sepia(88%) saturate(294%) hue-rotate(163deg) brightness(113%) contrast(100%);
}


/*----------MEDIA QUERIES----------*/

/*---MEDIAQUERIES MIN 650px---*/
@media screen and (min-width: 650px) {


    .content p {
        max-width: 500px;
    }

    .content:nth-of-type(4n+1) .content-image {
        flex-direction: row;
        align-items: flex-start;
    }

    .content:nth-of-type(4n+1) img {
        height: 450px;
        width: 300px;
    }


    .content:nth-of-type(4n+2) .content-image {
        display: flex;
        margin-top: -5rem;
        margin-bottom: 100px;
        flex-direction: row-reverse;
        align-items: flex-end;
    }

    #products .content:nth-child(4n+2) img {
        background-color: red;
        width: 450px;
        height: 250px;
        margin: 1rem;
    }

    #products .content:nth-child(4n+2) .wrapper {
        text-align: right;
    }


    .content:nth-of-type(4n+3) .content-image {
        display: flex;
        flex-direction: row;
        margin: 1rem;
        align-items: flex-start;
    }

    #products .content:nth-child(4n+3) img {
        background-color: green;
        width: 400px;
        height: 250px;
    }



    .content:nth-of-type(4n+4) .content-image {
        display: flex;
        margin-top: -4rem;
        flex-direction: row-reverse;
        align-items: flex-end;

    }

    #products .content:nth-child(4n+4) img {
        background-color: #78d678;
        margin: 1rem;
        width: 300px;
        height: 400px;
    }

    #products .content:nth-child(4n+4) .wrapper {
        text-align: right;
    }

}

/*----MEDIAQUERIES MIN 1100px----*/


@media screen and (min-width:1100px) {

    /*------------MENU-----------------*/
    header:not(#index-burger) #menuknap {
        display: none;
    }

    /*  #logo {
        z-index: 300;
        position: fixed;
    }
*/
    header:not(#index-burger) #burgermenu.hide {
        transform: translateX(0);
        opacity: 1;
        /*placer menuen normalt*/
    }

    header:not(#index-burger) #burgermenu li {
        display: inline-block;
        margin-top: 0;
        padding-top: 0;
        /*lad menuen være vandret*/

    }

    header:not(#index-burger) #burgermenu ul {
        display: flex;
        width: 100%;
        justify-content: center;
    }

    /*   .valgt {
        background-color: var(--dark-blue);
    }*/

    header:not(#index-burger) #burgermenu {
        background-color: #ffffff;
        width: 100vw;
        padding: 1rem;
        height: 120px;
        padding-top: 50px;
        display: flex;
        justify-content: center;
    }

    header:not(#index-burger) #burgermenu a {
        color: var(--main-color);
    }

    header:not(#index-burger) header {
        z-index: 100;
        height: 50px;
    }

    header:not(#index-burger) #hovedmenu ul {
        width: 100%;
    }

    header:not(#index-burger) #hovedmenu a {
        margin: 0 1rem;
        margin-top: 0;
        font-size: 1rem;
        text-align: center;
        letter-spacing: 0.12rem;
        text-transform: uppercase;
        position: relative;
        line-height: 0;
    }

    #index-burger .bar1,
    #index-burger .bar2,
    #index-burger .bar3 {
        background-color: #ffffff;

    }


    #index_horizontal {
        z-index: 1000;
        display: inline-block;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        transition: transform .3s;
        transform-origin: top left;
    }

    #index_horizontal #burgermenu {
        position: relative;
        height: 100%;
        margin: -20px;



    }

    .hidden {
        display: none;
    }

    /*-----------INDEX.HTML--------------*/
    #index {
        display: grid;
        grid-template-areas: 'header-burger'
            'splash'
            'header-horizontal'
            'main'
            'footer'
    }

    #index-burger {
        grid-area: header-burger;
    }

    #splash {
        grid-area: splash;
    }

    #index_horizontal {
        grid-area: header-horizontal;
    }

    #index main {
        grid-area: main;
    }

    footer {
        grid-area: footer;
    }

    #content1 {
        display: grid;
        grid-template-areas:
            'index-image4 index-image2 index-image1 index-image1'
            'index-image4 index-image2 index-image5 index-image5'
            'index-image3 index-image3  index-image5 index-image5';
        grid-gap: 20px;
        margin: 10px auto;
        justify-content: center;
        grid-template-columns: auto auto auto auto;
    }

    #content1-image4 {
        grid-area: index-image4;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }

    #content1-image4 img {
        background-color: #6a936a;
        width: 200px;
        height: 300px;

    }

    #content1-image2 {
        grid-area: index-image2;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

    #content1-image2 img {
        background-color: green;
        width: 200px;
        height: 200px;
        margin-bottom: -25px;
    }

    #content1-image1 {
        grid-area: index-image1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #content1-image1 img {
        background-color: lightgreen;
        width: 150px;
        height: 150px;
        margin-left: 30px;
        margin-top: 30px;
    }

    #content1-image3 {
        grid-area: index-image3;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-end;

    }

    #content1-image3 img {
        background-color: #38ac38;
        width: 450px;
        height: 250px;

    }

    #content1-image5 {
        grid-area: index-image5;
        display: flex;
    }

    #content1-image5 img {
        background-color: darkgreen;
        width: 400px;
        height: 350px;

        margin-top: 0;

    }

    #content2 {
        display: grid;
        grid-template-areas: 'index-content2-image3 index-content2-image3 index-content2-image2 index-content2-image2  index-content2-image5'
            'index-content2-image1 index-content2-image1 index-content2-image4 index-content2-image4 index-content2-image5';
        grid-gap: 20px;
        margin: 10px;
        justify-content: center;
        grid-template-columns: 15% 15% 15% 15% 40%;

    }

    #content2-image3 {
        grid-area: index-content2-image3;
        display: flex;
        flex-direction: column;

    }

    #content2-image3 img {
        background-color: darkgreen;
        width: 150px;
        height: 150px;
        align-self: flex-end;

    }

    #content2-image2 {
        grid-area: index-content2-image2;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    #content2-image2 img {
        background-color: green;
        width: 200px;
        height: 200px;
    }

    #content2-image5 {
        grid-area: index-content2-image5;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;


    }

    #content2-image5 img {
        background-color: #44c644;
        width: 350px;
        height: 480px;

    }

    #content2-image1 {
        grid-area: index-content2-image1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

    }

    #content2-image1 img {
        background-color: lightgreen;
        width: 200px;
        height: 300px;
        margin-top: -100px;
        margin-bottom: 0;
    }

    #index #content2-image4 {
        grid-area: index-content2-image4;
        display: flex;
        justify-content: flex-end;


    }

    #index #content2-image4 img {
        background-color: #47ac47;
        width: 300px;
        height: 200px;
    }

    /*------ABOUT.html-----*/
}

@media screen and (min-width:1100px) {

    /*------ABOUT.html-----*/
    #about main {
        max-width: 1200px;
    }

    #about-content {
        display: grid;
        grid-template-areas:
            'about-headline about-image1 about-image1'
            'about-text-one about-image1 about-image1'
            'about-text-two about-image2 about-image3'
            'about-text-two about-image2 about-image3';
        grid-column-gap: 0;
        justify-content: center;

        grid-template-columns: auto auto auto;

    }

    #about-content h1 {
        grid-area: about-headline;
    }

    #about-text-one {
        grid-area: about-text-one;
        width: 80%;
        max-width: 500px;
    }

    #about-content #image1 {
        grid-area: about-image1;
        background-color: #2c78d0;
        width: 300px;
        height: 200px;
        margin-top: 40px;
        justify-self: center;
    }

    #about-content #image2 {
        grid-area: about-image2;
        background-color: #0093ff;
        height: 200px;
        width: 150px;
        justify-self: flex-end;
        margin-left: 50px;

    }

    #about-content #image3 {
        grid-area: about-image3;
        background-color: #44a9ff;
        height: 300px;
        width: 300px;
        align-self: flex-end;
        margin-left: 50px;

    }

    #about-text-two {

        grid-area: about-text-two;
        margin-top: 2rem;
        text-align: left;
        justify-self: flex-start;
        max-width: 500px;
    }
}
